body {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  background-image: linear-gradient(white, grey);
}

img {
  height: 220px;
  width: 220px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border: 5px outset black;
}

ul {
  width: 99%;
  margin: auto;
}

li {
  display: inline-block;
  height: 350px;
  vertical-align: top;
  margin: 5px;
  text-align: center;
  margin-bottom: 2px;
}

a {
  text-decoration: inherit;
  color: red;
}

a:hover {
  text-decoration: none;
  color: blue;
}
